*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    background-color: #39297b;
    color: #fff;
}
h2{
    text-align: center;
    margin: 50px auto;
    font-weight: 600;
}
form{
    width: 50%;
    max-width: 500px;
    margin: 10px auto;
    height: 40px;
    background-color: #434984;
    display: flex;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    padding: 0 30px;
}
form button{
    height: 100%;
    padding: 0 20px;
    background-color: #ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 15px;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
::placeholder{
    color: #fff;
    font-size: 15px;
}
#show-more{
    height: 30px;
    padding: 0 8px;
    background-color: #ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 15px;
    cursor: pointer;
    display: none;
    margin: 10px auto;
}
#search-result{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
#search-result img{
    height: 130px;
    width: 200px;
}